/* Survey page static elements */
nav {
    background-color: #131313;
    opacity: .7;
}
body {
    background: linear-gradient(rgba(54, 54, 54, 0.45), rgba(54, 54, 54, 0.45)),url("../images/bike.jpg") no-repeat;
    background-color: rgb(51, 51, 51, 0.5);
    color: rgb(55, 55, 55);
    overflow: hidden;
    font-family: 'Nanum Gothic', sans-serif;
}

.head-nav {
    font-family: 'Monoton', cursive;
    color: #d8d8d8;
    font-size: 40px;
    position: relative;
    top: 5px;
}

.hoodie-icon {
    width: 60px;
    margin-left: 30px;
}


li.active .collection-item.active .collection-item {
    background-color: rgb(121, 9, 9);
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 50px;
    opacity: .7;
    background-color: #131313;
  }




/* Question modals */

.error {
    color: red;
    display: block;

}

.modal-close {
    position: absolute;
    font-size: 16px;
    top: 20px;
    right: 0;
}

.modal {
    max-height: 90%;
    opacity: .8;
    background-color: rgb(217, 207, 202, .8);
    z-index: 10;
    border-radius: 10px;
}

.modal-overlay {
    background: none;
}

.modalQs {
    max-height: 60%;
}

.q-num {
    padding-left: 20px;
    padding-top:20px;
}

.q, .error, .radioRequired {
    padding-left: 20px;
}

.q {
    font-size: 19px;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    font-size: 17px;
    color: rgb(26, 26, 26);
}

#homebtn, .question {
    font-size: 16px;
}


/* Results Modal */



.div-content {
    background-color: rgba(255, 255, 255, 0.664);
    border: 1px solid #26a69a;
    color: rgb(55, 55, 55);
    overflow: auto;
    min-height: 440px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}



.div-tabs {
    background-color: rgba(255, 255, 255, 0.571);
}



#modal1 {
    width: 80%;
    height: 80%;
    background-color: #c4e3e0;
}

.t-head {
    color: #A55B54;
}

#walk-stuff {
    margin-top: 50px;
    text-align: center;
}

.results-close {
    position: absolute;
    top: 10px;
    right: 0;
}

.map {
    width: 60%;
}

.description {
    min-height: 75px;
    font-size: 18px;
}

.resultLink {
    font-size: 20px;
    color: #3D4859;
    font-weight: bold;
}

.resultLink:hover {
    color: rgb(114, 128, 150);
    text-decoration: underline;
}

.resultLink:hover, .resultLink:active, .resultLink:focus {
    color: rgb(114, 128, 150);
    text-decoration: underline;
}

img.responsive-img {
    max-width: 90%;
}

.imageThumbs  {
    max-width: 275px;
    height: auto;
    max-height: 350px;
}

.restart-quiz {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
}


.home {
    position: absolute;
    bottom: 10px;;
    left: 10px;
    font-size: 16px;
}



/* User logged in and saved place landing page */

.loggedIn {
    background-color: #26a69a;
    color: rgb(255, 255, 255);
    height: 300px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}


#savedHood, #retake {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    background: white;
    color:  #26a69a;
    border: 2px solid white;
    border-radius: 5px;
}

.welcome {
    margin-top: -10px;
}

.welcome, #or {
    text-align: center;
}

#savedHood {
    text-align: right;

}

#savedHood:hover, #savedHood:focus #retake:hover, #retake:focus {
    background: #c4e3e0;
    color:  white;
}

#retake {
    text-align: left;
}

#or {
    margin-top: 50px;
}



/* Extra small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }
    #modal1 {
        width: 100%;
    }
    neighborhoodName {
        font-size: 40px;
        /* text-align: center; */
    }
    .tabs {
        width: 100%;
    }
    .modalQs {
        max-height: 90%;
    }
    .map {
        width: 100%;
    }

    .loggedIn {
        height: 100%;
    }

    #savedHood, #retake {
        text-align: center;
    }

    #localEmail {
        font-size: 25px;
    }

    h5 {
        font-size: 18px;
    }

    nav {
        height: 70px;
    }
    .head-nav {
        text-align: center;
    }
    
    .restart-quiz {
        font-size: 16px;
    }

    [type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
        font-size: 14px;
        color: rgb(26, 26, 26);
    }

    .q {
        font-size: 16px;
    }

    .radioRequired {
        margin-top: -10px;
    }

}

@media screen and (max-width: 990px) {

    .map {
        width: 100%;
    }

    .loggedIn {
        height: 100%;
    }

}

