nav {
    background-color: black;
    opacity: .7;
}
body {
    background: linear-gradient(rgba(54, 54, 54, 0.45), rgba(54, 54, 54, 0.45)),url("../images/bike.jpg");
    background-color: rgb(51, 51, 51, 0.5);
}

.brand-logo {
    margin-left: 20px;
}

.modal {
    z-index: 10;
}