html body {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

body {
  text-align: center;
  background-image: url(../assets/images/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.landing-text {
  color: black;
  /* text-shadow: -5px 3px 0px rgba(150, 150, 150, 1); */
  vertical-align: middle;
  padding-top: 20%;
}

.landing-title {
  font-size: 100px;
}
