nav {
    background-color: #131313;
    opacity: .7;
}
body {
    background: linear-gradient(rgba(54, 54, 54, 0.45), rgba(54, 54, 54, 0.45)),url("../images/bike.jpg") no-repeat;
    background-color: rgb(51, 51, 51, 0.5);
    color: #3D4859;
    overflow: hidden;
}

.headNav {
    margin-left: 20px;
    color: #b6c2d3;
    font-size: 40px;
}

.hoodie-icon {
    width: 60px;
    margin-left: 30px;
}


li.active .collection-item.active .collection-item {
    background-color: rgb(121, 9, 9);
}

.error {
    color: red;
    display: block;

}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.modal-close {
    position: absolute;
    font-size: 16px;
    top: 20px;
    right: 0;
}

.modal {
    max-height: 90%;
    opacity: .8;
    background-color: rgb(217, 207, 202, .8);
    z-index: 10;
    border-radius: 10px;
}

.modal-overlay {
    background: none;
}

#modal1 {
    width: 80%;
    height: 80%;
}

.modalQs {
    max-height: 60%;
}

.leftDiv , .middleDiv {
    background-color: #D9CFCA;
    border: 1px solid #A79793;
    color: #3D4859;
    overflow: auto;
    min-height: 440px;

}

.middleDiv {
    margin-left: 8%;
}


.rightDiv {
    background-color: #D9CFCA;
    border: 1px solid #A79793;
    color: #3D4859;
    overflow: auto;
    min-height: 440px;

}


#food2 #food3 {
    margin-left: 8%;
}

.t-head {
    color: #A55B54;
}

#walk-stuff {
    margin-top: 50px;
    text-align: center;
}


.map {
    width: 60%;
}

.description {
    min-height: 75px;
}

.resultLink {
    font-size: 20px;
    color: #3D4859;
    font-weight: bold;
}

.resultLink:hover {
    color: rgb(114, 128, 150);
    text-decoration: underline;
}


.resultLink:hover, .resultLink:active, .resultLink:focus {
    color: rgb(114, 128, 150);
    text-decoration: underline;
}

.loggedIn {
    background-color: #3D4859;
    color: #D9CFCA;
    height: 300px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}


#savedHood, #retake {
    font-size: 20px;
    font-weight: bold;
}

.welcome {
    margin-top: -10px;
}

.welcome, #or {
    text-align: center;
}

#savedHood {
    text-align: right;
}

#retake {
    text-align: left;
}

#savedHood, #retake {
    margin-top: 15px;
}

#or {
    margin-top: 50px;
}

.results-close {
    position: absolute;
    top: 10px;
    right: 0;
}

.restart-quiz {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.home {
    position: absolute;
    bottom: 5px;;
    left: 5px;
    color: rgb(133, 133, 133);
    font-size: 12px;
}

.imageThumbs  {
    max-width: 300px;
    height: auto;
    max-height: 350px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 50px;
    opacity: .7;
    background-color: #131313;
  }

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }
    #modal1 {
        width: 100%;
    }
    neighborhoodName {
        font-size: 40px;
        /* text-align: center; */
    }
    .tabs {
        width: 100%;
    }
    .modalQs {
        max-height: 90%;
    }
    .map {
        width: 100%;
    }

    .loggedIn {
        height: 100%;
    }

    #savedHood, #retake {
        text-align: center;
    }

    #localEmail {
        font-size: 25px;
    }

    h5 {
        font-size: 18px;
    }

    nav {
        height: 70px;
    }
    .headNav {
        text-align: center;
    }
}

@media screen and (max-width: 990px) {

    .map {
        width: 100%;
    }

    .loggedIn {
        height: 100%;
    }

}