
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}



nav {
  height: 75px;
  background-color: #131313
}

#login-modal {
  height: 30%;
}

#video-background {
position: fixed;
right: 0; 
bottom: 0;
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto;
z-index: -100;
 }

.landing-text {
  color: black;
  vertical-align: middle;
  padding-top: 20%;
  text-align: center
}

#landing-title {
  /* font-size: 100px; */
  text-shadow: -5px 3px 0px rgba(150, 150, 150, 1);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* padding-top: 50px; */
  padding-bottom: 50px;
}

.material-tooltip {
  width: 300px;
}

.main-text-box {
  background-color: rgb(187, 187, 187, .5);
}

.start {
  background-color: #D5586E;
}